{% extends "base/bootstrap.html.twig" %}

{% block content %}
    <div class="container contenido">
		<div class="login-container">
            <div id="output"></div>
            <div class="avatar"><img src="/web/img/BannanaLogin-01.png" style="height: 95px; width: 95px; display: block;"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
                <br/>
                <button type="button" class="btn btn-lg btn-block fblogin"><i class="fa fa-facebook-square fbicon"></i> Facebook</button>
                <button type="button" class="btn btn-lg btn-block twitterlogin"><i class="fa fa-twitter-square"></i> Twitter</button>
            </div>
        </div>
	</div>
{% endblock content %}
