{% extends "base/dashboard-bootstrap.html.twig" %}

{% block actions %}
{% endblock actions %}

{% block todo %}
{% endblock todo %}

{% block stylecustomizer %}
{% endblock stylecustomizer %}

{% block content %}

{% endblock content %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function() {
        var fireb = new Firebase("https://bannana.firebaseio.com/ticket/fbmessage/");
        fireb.on("child_added", function(data) {
            var message = data.val();
            $("#messages").append('<div class="well">'+
                                        '<h2>From: '+message.from+'</h2>'+
                                        '<h2>To: '+message.to+'</h2>'+
                                        '<h2>Mesage: '+message.message+'</h2>'+
                                    '</div>');
        });
    });
</script>
{% endblock %}