{% extends "base/dashboard-bootstrap.html.twig" %}

{% block actions %}
{% endblock actions %}

{% block todo %}
{% endblock todo %}

{% block stylecustomizer %}
{% endblock stylecustomizer %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="/web/img/team-A.jpg" style="height: 200px; width: 200px; display: block;">
          <div class="caption">
            <h3>Juan González</h3>
            General Information
            <h5 class="text-right">Team Leader</h5>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="/web/img/team-B.jpg" style="height: 200px; width: 200px; display: block;">
          <div class="caption">
            <h3>Jesús de los Santos</h3>
            Sales
            <h5 class="text-right">Team Leader</h5>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="/web/img/team-C.jpg" style="height: 200px; width: 200px; display: block;">
          <div class="caption">
            <h3>Gabriela Ramírez</h3>
            Content
            <h5 class="text-right">Team Leader</h5>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="/web/img/team-D.jpg" style="height: 200px; width: 200px; display: block;">
          <div class="caption">
            <h3>Ana Teresa Ruíz</h3>
            Volunteering
            <h5 class="text-right">Team Leader</h5>
          </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function() {
        var fireb = new Firebase("https://bannana.firebaseio.com/ticket/fbmessage/");
        fireb.on("child_added", function(data) {
            var message = data.val();
            $("#messages").append('<div class="well">'+
                                        '<h2>From: '+message.from+'</h2>'+
                                        '<h2>To: '+message.to+'</h2>'+
                                        '<h2>Mesage: '+message.message+'</h2>'+
                                    '</div>');
        });
    });
</script>
{% endblock %}